<div class="container">
    <div class="row" style="margin-top: 28px;">
        <div class="row">
            <h3 class="text-muted">Ваша корзина</h3>
            <table class="table table-borderless text-muted">
                <tbody>
                <tr *ngFor="let item of shoppingCartItems">
                    <td><img src="/images/{{item.product.id}}" style="height: 50%" alt="Card image cap"></td>
                    <td>
                        <p>{{ item.product.name }}</p>
                        <small>Цена: {{ item.product.price }} руб</small>
                    </td>
                    <td>
                        <input type="number"
                               id="quantity"
                               class="form-control"
                               name="quantity"
                               [(ngModel)]="item.quantity"
                               (change)="itemsCountInShoppingCart()"
                        />
                    </td>
                    <td>
                        {{getItemSummary(item)}}
                        {{summary}}
                    <td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
