<div class="container">
  <div class="row" style="margin-top: 28px;">
      <div class="row">
        <!-- Author list -->
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя автора</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let author of authors">
              <td>{{ author.uid }}</td>
              <td>{{ author.fullName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
